.table-top-border{
  .q-table-top{
    border-bottom: 1px dashed #000000;
    padding-left: 0;
    margin-bottom: 20px;
    .q-table-title{
      font-size: 14px;
      font-weight: 600;
      color: #333333;
    }
  }
  tr{
    th:nth-child(1){
      padding-left: 30px;
    }
    td:nth-child(1){
      padding-left: 30px;
    }
    th{
      font-size: 18px;
      color: #666666;
      text-align: left ;
    }
    td{
      font-size: 16px;
      text-align: left;
      padding: 24px;
      span{
        color: #666666;
      }
    }
  }
}

.table-tr-td-p-0{
   tr{
     td{
      //  height: 26px;
      //  line-height: 26px;
       font-size: 16px;
       color: #666666;
       padding: 0 24px;
     }
    td:nth-child(1){
      padding-left: 0;
    }
  }
}


.custom-breadcrumbs-a {
  div:first-child {
    a{
      color: #3A9FFE!important;
    }
  } 
  a:hover{
    color: #3A9FFE!important;
  }
  a{
    color:#000000!important;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
}

.custom-border-td{
  padding 0
  span{
    width 100%
    height 100%
    padding 4px 12px
    border:1px solid #cccccc!important;
    border-radius: 20px !important;
  }
}


.custom-pre-wrap{
  width: 60%;
  color: #666666;
  font-size: 16px;
  font-family: '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: pre-wrap; /*css-3*/ 
  white-space: -moz-pre-wrap; /*Mozilla,since1999*/ 
  white-space: -pre-wrap; /*Opera4-6*/ 
  white-space: -o-pre-wrap; /*Opera7*/ 
  word-wrap: break-word; /*InternetExplorer5.5+*/ 
}


.custorm-search-icon:hover{
  i.q-icon{
    color:#3A9FFE!important;
  }
}

.custorm-search-icon{
  i.q-icon{
    widows 24px;
    height: 24px;
    color: #ACACAC!important;
    border-left: 1px solid #ACACAC;
    padding-left: 33px;
    margin-right: 14px;
    align-self: auto;
    display: inline-block!important;
  }
}

.custorm-search-icon-mobile{
  i.q-icon{
    widows 24px;
    height: 24px;
    color: #ACACAC!important;
    border-left: none;
    padding-left: 30px;
    margin-right: 0px;
    align-self: auto;
    display: inline-block!important;
  }
}

.custorm-search-input{
  .q-input-target, .q-input-shadow{
   color: #ffffff;
  }
    i.q-icon{
    // widows 24px;
    // height: 24px;
    color: #ffffff!important;
    // border-left: 1px solid #ACACAC;
    // padding-left: 20px;
    align-self: auto;
    display: inline-block!important;
  }
}