.table-top-border{
  .q-table-top{
    border-bottom: 1px dashed #000000;
    padding-left: 0;
    .q-table-title{
      font-size: 14px;
      font-weight: 600;
      color: #333333;
    }
  }
  tr{
    th{
      font-size: 14px;
      color: #333333;
    }
  }
}

.table-tr-td-p-0{
   tr{
    td:nth-child(1){
      font-size: 14px;
      color: #333333;
      padding-left: 0;
    }
  }
}

.custom-breadcrumbs-a{
  a:hover{
    color: #0033ff!important;
  }
  a{
    color:#000000!important;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }
}


