.custorm-search-icon:hover{
  i.q-icon{
    color:#18CE90!important;
  }
}

.custorm-search-icon{
  .q-input-target, .q-input-shadow{
    color: #ffffff;
  }
  i.q-icon{
    widows 24px;
    height: 24px;
    color: #ACACAC!important;
    margin-right: 0px;
    align-self: auto;
    display: inline-block!important;
  }
}

.custorm-select{
  height: 29px;
  .q-if-inner{
    .q-input-target, .q-input-shadow{
    color:#9DA0B5;
    font-size: 14px;
    }
  }
  i.q-if-control{
    color: #9DA0B5;
  }
}
