// app global css
@import './custom/custom.styl'

* {
  outline: none;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.bg-black {
  background-color: #22292f !important;
}

.text-light-ash {
  color: #999999;
}

.text-black-absolute {
  color: #000000;
}

.q-table-grid .q-table thead {
  border-left: 1px solid #E0E1E5;
  border-right: 1px solid #E0E1E5;
  border-bottom: 1px solid #E0E1E5;
}

.q-table-grid .q-table thead th {
  font-size: 16px;
  font-weight: 600;
}