// app global css
@import './custom/custom.styl'

* {
  outline: none;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.bg-black {
  background-color: #22292f !important;
}

.text-light-ash {
  color: #999999;
}

.text-black-absolute {
  color: #000000;
}

.pr-60{
  padding-right: 60px !important;;
}

.pl-15{
  padding-left: 15px !important;;
}

.pl-30{
  padding-left: 30px !important;;
}

