// app global css
@import './custom/custom.styl'

* {
  outline: none;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.bg-black {
  background-color: #22292f !important;
}

.text-light-ash {
  color: #999999;
}

.text-black-absolute {
  color: #000000;
}

// table
// .q-table tr{
//   border: 1px solid #E0E1E5;
// }
// .q-table thead{
//   background-color: #ffffff;
// }
// .q-table tr:nth-child(2n -1) {
//   background-color: #F8F8F8;
// }

// .q-table td {
//   text-align: center;
// }
.q-table-grid .q-table thead {
  border: 1px solid #E0E1E5;
}
.q-table-grid .q-table thead th{
  font-size: 16px;
  font-weight: 600;
  color: #6A737D;
}
.q-table td {
  border: 1px solid #E0E1E5;
  font-size: 16px !important;
}