@font-face {
  font-family: 'futura';
  src: url('./fonts/futura.eot?b5hyj5');
  src: url('./fonts/futura.eot?b5hyj5#iefix') format('embedded-opentype'), url('./fonts/futura.ttf?b5hyj5') format('truetype'), url('./fonts/futura.woff?b5hyj5') format('woff'), url('./fonts/futura.svg?b5hyj5') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?r6gl8u');
  src:  url('./fonts/icomoon.eot?r6gl8u#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?r6gl8u') format('truetype'),
    url('./fonts/icomoon.woff?r6gl8u') format('woff'),
    url('./fonts/icomoon.svg?r6gl8u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accounts:before {
  content: "\e900";
}
.icon-asch:before {
  content: "\e901";
}
.icon-block-height:before {
  content: "\e902";
}
.icon-block:before {
  content: "\e903";
}
.icon-data:before {
  content: "\e904";
}
.icon-delet:before {
  content: "\e905";
}
.icon-details:before {
  content: "\e906";
}
.icon-forging:before {
  content: "\e907";
}
.icon-height:before {
  content: "\e908";
}
.icon-issue:before {
  content: "\e909";
}
.icon-left:before {
  content: "\e90a";
}
.icon-light:before {
  content: "\e90b";
}
.icon-More:before {
  content: "\e90c";
}
.icon-Numberof-users:before {
  content: "\e90d";
}
.icon-Operating-days:before {
  content: "\e90e";
}
.icon-QR-code:before {
  content: "\e90f";
}
.icon-right:before {
  content: "\e910";
}
.icon-rightset:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-Token:before {
  content: "\e913";
}
.icon-Totalmarket-value:before {
  content: "\e914";
}
.icon-transaction:before {
  content: "\e915";
}
.icon-Transfer-accounts:before {
  content: "\e916";
}
.icon-Trustee:before {
  content: "\e917";
}
.icon-turn:before {
  content: "\e918";
}
.icon-watermark:before {
  content: "\e919";
}
